    {% extends 'dashboard/home.html' %}
    {% load static %}
    {% load crispy_forms_tags %}
    {% block content %}

    <!-- NAVIGATION BAR, LAHAT NG LINKS -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
		<div class="container">
			<a class="navbar-brand" href="{% url 'home' %}"><span class="text-secondary">STUDY</span>ERA</a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'home' %}">Home</a>
					</li>
                    <li class="nav-item">
						<a class="nav-link" href="{% url 'profile' %}">Profile</a>
					</li>
                    <li class="nav-item">
						<a class="nav-link" href="{% url 'homepage' %}">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

    <section style="padding: 5%">

    {% if message %}
        {% for msg in messages %}
            <div class="alert alert-{{msg.tags}}">{{msg}}</div>
        {% endfor %}
    {% endif %}

        <div class="container">
            {% if not homework_done %} 

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Due</th>
                    <th scope="col">Status</th>
                    <th scope="col"><i class="bi bi-trash-fill"></i></th>
                  </tr>
                </thead>
                <tbody>
                    {% for homework in homeworks %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{homework.subject}}</td>
                        <td>{{homework.title}}</td>
                        <td>{{homework.description}}</td>
                        <td>{{homework.due}}</td>
                        <td>
                            <a href="{% url 'update-homework' homework.id %}">
                                <div class="form-check">
                                    {% if homework.is_finished == True %}
                                    <input class="form-check-input" type="checkbox" value="" checked>
                                    {% else %}
                                    <input class="form-check-input" type="checkbox" value="">
                                    {% endif %}
                                    <label class="form-check-label text-dark" for="flexCheckDefault">
                                        Mark as Completed 
                                    </label>
                                </div>
                            </a>
                        </td>
                        <td><a class="link-secondary" href="{% url 'delete-homework' homework.id %}">
                            <i class="bi bi-trash-fill"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
              {% else %} 
              <h5 class="text-center">All homeworks are completed.</h5>
            {% endif %}
            </div>
    </section>

    <!-- Homework starts -->
	<section class="services section-padding" id="services">
		<div class="container">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="mb-4 text-center"><strong>Create Homework</strong></legend>
                    {{form|crispy}}
                </fieldset>
                <div class="form-group text-center">
                    <br><button href="" class="btn btn-dark" type="submit">
                        Create
                    </button>
                </div>
            </form>
		</div>
	</section>

    {% endblock content %}

<!-- </body>
</html> -->